<% content_for :heading do %>
    <h2><%= t 'welcome.title' %></h2>
    <p><%= t "welcome.intro_1_html" %></p>
<% end %>

<h3><%= t "welcome.intro_2_title" %></h3>
<p><%= t "welcome.intro_2a_html" %></p>
<p><%= t "welcome.intro_2b_html" %></p>

<h3><%= t "welcome.intro_3_title" %></h3>
<p><%= t "welcome.intro_3a_html" %></p>
<p><%= t "welcome.intro_3b_html" %></p>

<h3><%= t "welcome.intro_4_title" %></h3>
<p><%= t "welcome.intro_4_html" %></p>

<h3><%= t "welcome.intro_5_title" %></h3>
<p><%= t "welcome.intro_5_html" %></p>

<h3><%= t "welcome.intro_6_title" %></h3>
<p><%= t "welcome.intro_6_html" %></p>

<h3><%= t "welcome.intro_7_title" %></h3>
<p><%= t "welcome.intro_7_html" %></p>

<a href='/' class='button huge start-mapping'><%= t "welcome.start_mapping" %></a>

<h4><%= t "welcome.intro_note_title" %></h4>
<p><%= t "welcome.intro_note_html" %></p>
